<form method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label" for="basic-form-name">Name</label>
        <input class="form-control" id="basic-form-name" type="text" placeholder="Name" name="Name" required />
    </div>

    <div class="mb-3">
        <label class="form-label" for="basic-form-email">Email address</label>
        <input class="form-control" id="basic-form-email" type="email" placeholder="name@example.com" name="Email" />
    </div>

    <div class="mb-3">
        <label class="form-label" for="basic-form-dob">Date of Birth</label>
        <input class="form-control" id="basic-form-dob" type="date" name="DateOfBirth" />
    </div>

    <div class="mb-3">
        <label class="form-label" for="basic-form-gender">Gender</label>
        <select class="form-select" id="basic-form-gender" name="Gender" required>
            <option value="">Select your gender</option>
            <option value="true">Male</option>
            <option value="false">Female</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Upload Image</label>
        <input class="form-control" type="file" name="img"/>
    </div>

    <div class="mb-3">
        <label class="form-label" for="basic-form-textarea">Description</label>
        <textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Description" name="Description"></textarea>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
